@using App.Data.Entities
@model OrderEntity
<div class="page-content">
		<!--Banner Start-->
		<div class="dz-bnr-inr" style="background-image:url(images/background/bg1.jpg);">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
							<li class="breadcrumb-item">Account Dashboard</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
		<!--Banner End-->
		
		<div class="content-inner-1">
			<div class="container">
                <div class="row">
                    @await Component.InvokeAsync("Account")
                    <section class="col-xl-9 account-wrapper">
						<div class="account-card order-details">
							<div class="order-head">
								<div class="head-thumb">
									<img src="images/shop/small/pic1.png" alt="">
								</div>
								<div class="clearfix m-l20">
									<div class="badge">In Progress</div>
									<h4 class="mb-0">Order @Model.OrderCode</h4>
								</div>
							</div>
							<div class="row mb-sm-4 mb-2">
								<div class="col-sm-6">
									<div class="shiping-tracker-detail">
										<span>Item</span>
										<h6 class="title">@Model.OrderItems.FirstOrDefault().Product.Name</h6>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="shiping-tracker-detail">
										<span>Courier</span>
										<h6 class="title">Admin</h6>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="shiping-tracker-detail">
										<span>Start Time</span>
										<h6 class="title">@Model.CreatedAt</h6>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="shiping-tracker-detail">
										<span>Address</span>
										<h6 class="title">@Model.Address</h6>
									</div>
								</div>
							</div>
							<div class="content-btn m-b15">
								<a href="@Url.Action("DeleteOrder","Order",new {orderId = Model.Id})" class="btn btn-outline-danger m-b15 btnhover20">Cancel Order</a>
							</div>
							<div class="clearfix">
								<div class="dz-tabs style-3">
									<div class="nav nav-tabs" id="nav-tab" role="tablist">
										<button class="nav-link active" id="nav-order-history-tab" data-bs-toggle="tab" data-bs-target="#nav-order-history" role="tab" aria-controls="nav-order-history" aria-selected="true">Order History</button>
										<button class="nav-link" id="nav-Item-tab" data-bs-toggle="tab" data-bs-target="#nav-Item" role="tab" aria-controls="nav-Item" aria-selected="false">Item Details</button>
										<button class="nav-link" id="nav-courier-tab" data-bs-toggle="tab" data-bs-target="#nav-courier" role="tab" aria-controls="nav-courier" aria-selected="false">Courier</button>
										<button class="nav-link" id="nav-receiver-tab" data-bs-toggle="tab" data-bs-target="#nav-receiver" role="tab" aria-controls="nav-receiver" aria-selected="false">Receiver</button>
									</div>
								</div>
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-order-history" role="tabpanel" aria-labelledby="nav-order-history-tab" tabindex="0">
										<div class="widget-timeline style-1">
											<ul class="timeline">
												<li>
													<div class="timeline-badge"></div>
													<div class="timeline-box">
														<a class="timeline-panel" href="javascript:void(0);">
															<h6 class="mb-0">Product Shiped</h6>
															<span>08/04/2024 5:23pm</span>
														</a>
														<p><strong>Courier Service : </strong>UPS, Mustafa Sargın</p>
														<p><strong>Estimated Delivery Date : </strong>@Model.CreatedAt.AddDays(4).ToString()</p>
													</div>
												</li>
												<li>
													<div class="timeline-badge "></div>
													<div class="timeline-box">
														<a class="timeline-panel" href="javascript:void(0);">
															<h6 class="mb-0">Product Shiped</h6>
															<span>@Model.CreatedAt.AddDays(1).ToString()</span>
														</a>
														<p><strong>Tracking Number : </strong>3409-4216-8759</p>
														<p><strong>Warehouse : </strong>Top Shirt 12b</p>
													</div>
												</li>
												 <li>
													<div class="timeline-badge primary"></div>
													<div class="timeline-box">
														<a class="timeline-panel" href="javascript:void(0);">
														   <h6 class="mb-0">Product Packaging</h6>
															<span>@Model.CreatedAt.AddHours(12).ToString()</span>
														</a>
													</div>
												</li>
												<li>
													<div class="timeline-badge success"></div>
													<div class="timeline-box">
														<a class="timeline-panel" href="javascript:void(0);">
														   <h6 class="mb-0">Order Placed</h6>
															<span>@Model.CreatedAt</span>
														</a>
													</div>
												</li>
											  
											</ul>
										</div>
									</div>
									<div class="tab-pane fade" id="nav-Item" role="tabpanel" aria-labelledby="nav-Item-tab" tabindex="0">
										<h5>Item Details</h5>
										<div class="tracking-item">
											<div class="tracking-product"><img src="images/shop/small/pic1.png" alt=""></div>
											<div class="tracking-product-content">
												<h6 class="title">Collar Casual Shirt</h6>
												<small class="d-block"><strong>Price</strong> : $150</small>
												<small class="d-block"><strong>Size</strong> : Xl</small>
											</div>
										</div>
										<div class="tracking-item-content">
											<span>Total Price</span>
											<h6>+ $150</h6>
										</div>
										  <div class="tracking-item-content border-bottom border-light mb-2">
											<span class="text-success">Total Discounts</span>
											<h6>- $55</h6>
										</div>
										  <div class="tracking-item-content">
											<span>Order Total</span>
											<h6>$95</h6>
										</div>
									</div>
									<div class="tab-pane fade" id="nav-courier" role="tabpanel" aria-labelledby="nav-courier-tab" tabindex="0">
										<p>Commyolk Suspendisse et justo. Praesent mattis augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare.</p>
									</div>
									<div class="tab-pane fade" id="nav-receiver" role="tabpanel" aria-labelledby="nav-receiver-tab" tabindex="0">
										<h5 class="text-success mb-4">Thank you Your order has been received</h5>
										<ul class="tracking-receiver">
											<li>Order Number : <strong>#17493</strong></li>
											<li>Date : <strong>17/04/2024, 02:34pm</strong></li>
											<li>Total : <strong>$95</strong></li>
											<li>Payment Methods : <strong>Cash on Delivery</strong></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
      		</div>
		</div>
		
	</div>